<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  {{#if useTailwind}}
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  {{/if}}
  
  {{#if useCSS}}
  <link rel="stylesheet" href="style.css">
  {{/if}}
</head>
<body>
  {{#if useNav}}
  <nav class="bg-gray-800 p-4">
    <ul class="flex space-x-4">
      <li><a href="/inicio" class="text-white">Inicio</a></li>
      <li><a href="/menu" class="text-white">Menú</a></li>
      <li><a href="/nuevo" class="text-white">Nuevo</a></li>
      <!-- Agrega más enlaces según sea necesario -->
    </ul>
  </nav>
  {{/if}}

  <div class="container mx-auto p-4">
    {{{body}}}
  </div>
</body>
</html>
