<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  {{#if useTailwind}}
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  {{/if}}
  
  {{#if useCSS}}
  <link rel="stylesheet" href="style.css">
  {{/if}}
</head>
<body>
  {{#if useNav}}
  <div class="">

    <header class="flex items-center justify-between bg-gray-100 text-gray-500 px-6 py-4">
        <div class="flex items-center gap-4">
            <img src="img/LogoFondoTransparente.png" alt="Company Logo" width="50" height="50" />
            <span class="font-semibold">Museo Lavalle</span>
        </div>
        <div>
            <ul class="flex items-center justify-center gap-7 text-lg font-semibold">
                <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                    <a class="nav-link" href="/inicio">Inicio</a>
                </li>
                <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                    <a class="nav-link" href="/menu">Ver piezas</a>
                </li>
                <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                    <a class="nav-link" href="/logout">Gestionar</a>
                </li>
                <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
                    <a class="nav-link" href="/registrarPrestamo">Noticias</a>
                </li>
            </ul>
        </div>
        <div id="toggle" class="flex items-center gap-2 p-2 pr-5 rounded-full cursor-pointer">
            <span class="relative flex h-7 w-7 shrink-0 overflow-hidden rounded-full ">
                <img src="https://ui-avatars.com/api/?name={{usuario.nombre}}" alt=""
                    class="flex h-full w-full items-center justify-center rounded-full bg-muted">
            </span>
            <span class="font-medium">{{usuario.nombre}}</span>
            <span><svg id="dropdown" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 9l6 6l6 -6" />
                </svg></span>
        </div>
  </div>
  {{/if}}

  <div class="mx-auto p-4">
    {{{body}}}
  </div>
</body>
</html>
