<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="inicio.css" />
</head>
<body>

  <div class="iniciovista">
        <div class="op1" id="cuadro" onclick="location.href='mistrabajos.html'">
            <img src="Icon-MendoAgro/scissor.svg">
            <p>Subir pieza</p>
        </div>

        <div class="op2" id="cuadro" onclick="location.href='mistrabajos.html'">
            <img src="Icon-MendoAgro/user.svg">
            <p>Ver piezas</p>
        </div>

        <div class="op3" id="cuadro" onclick="location.href='subirTrabajo.html'">
            <img src="Icon-MendoAgro/arrow-up.svg"><br>
            <p>Subir Taxidermia </p>
        </div>

        <div class="op4" id="cuadro" onclick="location.href='configuracion.html'">
            <img src="Icon-MendoAgro/settings.svg">
            <p>Ver Taxidermia</p>
        </div>

        <div class="op5" id="cuadro">
            <img src="Icon-MendoAgro/warning-square.svg">
            <p>Subir Prestamos</p>
        </div>

        <div class="op5" id="cuadro" onclick="location.href='cerrarsesion.html'">
            <img src="Icon-MendoAgro/log-out.svg">
            <p>ver  Prestamos</p>
        </div>
    </div>

</body>
</html>
