<!DOCTYPE html>
<link>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="inicio.css" />

  {{!-- NavBar --}}
  <div class="w-full">
    <header class="flex items-center justify-between bg-gray-100 text-gray-500 px-6 py-4">
      <div class="flex items-center gap-4">
        <img src="img/LogoFondoTransparente.png" alt="Company Logo" width="50" height="50" />
        <span class="font-semibold">Museo Lavalle</span>
      </div>
      <div>
        <ul class="flex items-center justify-center gap-7 text-lg font-semibold">
          <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
            <a class="nav-link" href="/inicio">Inicio</a>
          </li>
          <li class="hover:text-gray-800 hover:border-b hover:border-[#F5B410] ease-out duration-300">
            <a class="nav-link" href="/menu">Ver piezas</a>
          </li>
        </ul>
      </div>
      <div id="toggle" class="flex items-center gap-2 p-2 pr-5 rounded-full cursor-pointer">
        <span class="relative flex h-7 w-7 shrink-0 overflow-hidden rounded-full ">
          <img src="https://ui-avatars.com/api/?name={{usuario.nombre}}" alt=""
            class="flex h-full w-full items-center justify-center rounded-full bg-muted">
        </span>
        <span class="font-medium">{{usuario.nombre}}</span>
        <span><svg id="dropdown" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M6 9l6 6l6 -6" />
          </svg></span>
      </div>

      {{!-- Menu Usuario NavBar --}}
      <div id="menu" class="absolute hidden top-16 right-10 z-10 w-44 h-auto">
        <div class="absolute w-44 bg-white rounded-md border border-gray-400/50 shadow-md p-6 text-base font-semibold">
          <ul class="space-y-3">
            <li><a class="hover:text-gray-800" href="{{url}}/perfil">Editar perfil</a></li>
            <li><a class="hover:text-gray-800" href="{{url}}/salir">Cerrar Sesión</a></li>
            <li><button class="hover:text-gray-800">Cambiar tema</button></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div class="iniciovista">
   
<a href="/nuevo">
  <div class="op5" id="cuadro">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
      <path d="M3 20.4V3.6C3 3.26863 3.26863 3 3.6 3H20.4C20.7314 3 21 3.26863 21 3.6V20.4C21 20.7314 20.7314 21 20.4 21H3.6C3.26863 21 3 20.7314 3 20.4Z" stroke="#000000" stroke-width="1.5"></path>
      <path d="M6 18L18 18" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M12 14V6M12 6L15.5 9.5M12 6L8.5 9.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <p>Subir piezas</p>
  </div>
</a>
    
    <a href="/menu">
    <div class="op5" id="cuadro">
     <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M3 13C6.6 5 17.4 5 21 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>

      <p>Ver piezas</p>

    </div>
    </a>

    <a href="/prestamo">
    <div class="op5" id="cuadro">
    <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M3 7.5V5C3 3.89543 3.89543 3 5 3H16.1716C16.702 3 17.2107 3.21071 17.5858 3.58579L20.4142 6.41421C20.7893 6.78929 21 7.29799 21 7.82843V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V16.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6 21V17" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 21V13.6C18 13.2686 17.7314 13 17.4 13H15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 3V8.4C16 8.73137 15.7314 9 15.4 9H13.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 3V6" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M1 12H12M12 12L9 9M12 12L9 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      <p>Subir prestamos</p>

    </div>
   </a>
    
    <div class="op5" id="cuadro">
      <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M3 6.5V5C3 3.89543 3.89543 3 5 3H16.1716C16.702 3 17.2107 3.21071 17.5858 3.58579L20.4142 6.41421C20.7893 6.78929 21 7.29799 21 7.82843V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V17.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 3H16V8.4C16 8.73137 15.7314 9 15.4 9H8.6C8.26863 9 8 8.73137 8 8.4V3Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 21V13.6C18 13.2686 17.7314 13 17.4 13H15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6 21V17.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 12H1M1 12L4 9M1 12L4 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      <p>Ver prestamos</p>

    </div>

    <a href="/nuevaTaxidermia">
    <div class="op5" id="cuadro">
      <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5"
        fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
        <path d="M9 12L15 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <path
          d="M4 21.4V2.6C4 2.26863 4.26863 2 4.6 2H16.2515C16.4106 2 16.5632 2.06321 16.6757 2.17574L19.8243 5.32426C19.9368 5.43679 20 5.5894 20 5.74853V21.4C20 21.7314 19.7314 22 19.4 22H4.6C4.26863 22 4 21.7314 4 21.4Z"
          stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M16 2V5.4C16 5.73137 16.2686 6 16.6 6H20" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
            <p>Subir Taxidermia</p>

    </div>

    </a>
    <a href="/listarTaxidermia">
    <div class="op5" id="cuadro">
      <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5"
        fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
        <path
          d="M4 12V2.6C4 2.26863 4.26863 2 4.6 2H16.2515C16.4106 2 16.5632 2.06321 16.6757 2.17574L19.8243 5.32426C19.9368 5.43679 20 5.5894 20 5.74853V21.4C20 21.7314 19.7314 22 19.4 22H11"
          stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M16 2V5.4C16 5.73137 16.2686 6 16.6 6H20" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path d="M1.99219 19H4.99219M7.99219 19H4.99219M4.99219 19V16M4.99219 19V22" stroke="#000000" stroke-width="1.5"
          stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
         <p>Ver Taxidermia</p>

      
    </div> 
    </a>
    
    

</body>
</html>
