<h1>Nuevo Registro de Taxidermia</h1>
    <form action="/enviarTaxidermia" method="POST">
        <p><label>Numero registro:&nbsp;</label><input type="number" name="NumeroRegistro"></p>
        <p><label>Fecha de Mantenimiento:&nbsp;</label><input type="date" name="FechaMantenimiento"></p>
        <p><label>Observación:&nbsp;</label><input type="text" name="Observacion"></p>
        <br>
        <input type="submit" value="Enviar">
    </form>
