.iniciovista {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 80px;
    justify-content: center;
}

.op1, .op2, .op3, .op4, .op5 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(93, 83, 25);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 200px; /* Ajusta el tamaño según el grid */
    height: 200px;
}

.op1:hover, .op2:hover, .op3:hover, .op4:hover, .op5:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
}

.op1 svg, .op2 svg, .op3 svg, .op4 svg, .op5 svg {
    max-width: 50%;
    height: 50px;
}

.op1 p, .op2 p, .op3 p, .op4 p, .op5 p {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
    display: block;
}
